ion-header {
    background-color: #ffa781; /* Color de fondo personalizado */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para efecto */
    text-align: center;
    padding: 10px 0;
  }
  
  ion-toolbar {
    --background: transparent; /* Hacer el fondo del toolbar transparente */
    --border-color: transparent; /* Eliminar cualquier borde del toolbar */
  }
  
  ion-title {
    font-size: 1.5rem; /* Tamaño del texto */
    font-weight: bold;
    color: #3b3b3b; /* Color del texto */
  }
  
  
  .fab-container {
    position: absolute;
    top: 93%; /* Coloca el botón a la mitad de la pantalla verticalmente */
    left: 50%; /* Coloca el botón a la mitad horizontalmente */
    transform: translate(-50%, -50%); /* Centra el botón completamente */
    z-index: 10; /* Asegura que el botón esté por encima del contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Ajusta el tamaño del botón según el diseño */
    height: 60px;
    border-radius: 50%; /* Hace que el botón sea completamente redondo */
    background-color: var(--ion-color-primary); /* Usa el color primario de Ionic */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Añade una sombra elegante */
  }
  


  ion-icon {
    font-size: 20px;
  }
  
  ion-label {
    font-size: 12px;
  }


  