.tab2-content {
  --ion-background-color: #ffece4; /* Fondo */
  display: flex;
  flex-direction: column;
  padding: 16px;

  .header-container {
    text-align: center;
    margin-top: 20px;
    padding-top: 45px;

    .title {
      font-size: 1.8rem;
      font-weight: bold;
      color: #2c3e50; /* Azul oscuro */
    }
  }

  .form-container {
    margin-top: 40px;
    padding: 16px;

    .form-group {
      margin-bottom: 24px;

      .form-label {
        font-size: 1rem;
        font-weight: bold;
        color: #2c3e50; /* Azul oscuro */
        margin-bottom: 8px;
        display: block;
      }

      ion-input {
        --padding-start: 8px;
        --padding-end: 8px;
        --background: #ffffff;
        --border-radius: 8px;
        --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        --border: 1px solid #f5a891;
        font-size: 1rem;
        color: #2c3e50;
      }

      .weather-container {
        display: flex;
        flex-wrap: wrap;
        gap: 12px; /* Espaciado entre botones */
        justify-content: flex-start;

        .weather-button {
          padding: 10px 20px;
          border-radius: 20px; /* Bordes redondeados */
          font-size: 0.9rem;
          font-weight: 600;
          color: #2c3e50;
          border: 2px solid #f5a891;
          background-color: transparent;
          cursor: pointer;
          text-align: center;
          transition: all 0.3s;

          &.active {
            background-color: #f5a891; /* Fondo del botón seleccionado */
            color: white; /* Color del texto */
            font-weight: bold;
          }

          &:hover {
            background-color: #f8c2a5; /* Fondo al pasar el mouse */
          }
        }
      }
    }

    ion-button {
      --background: #f5a891;
      --background-activated: #f08b72;
      --border-radius: 8px;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
