<ion-content [fullscreen]="true" class="tab2-content">
  <!-- Título -->
  <div class="header-container">
    <h1 class="title">Add entry</h1>
  </div>

  <!-- Campo para seleccionar la fecha -->
  <div class="form-container">
    <label for="datetime" class="form-label">Select a date</label>
    <ion-item class="date-picker">
      <ion-input
        readonly
        [value]="formattedDate"
        placeholder="Select date"
        (click)="openDatePicker()"
      ></ion-input>
      <ion-icon name="calendar-outline" slot="end" (click)="openDatePicker()"></ion-icon>
    </ion-item>

    <!-- ion-datetime dentro de un modal -->
    <ion-modal [isOpen]="isDatePickerOpen" (ionModalDidDismiss)="closeDatePicker()">
      <ion-content>
        <ion-datetime
          [(ngModel)]="selectedDate"
          (ionChange)="onDateChange($event)"
          presentation="date"
          cancel-text="Cancel"
          done-text="Done"
        >
        </ion-datetime> <!-- Cierre adecuado del componente -->
      </ion-content>
    </ion-modal>
  </div>
</ion-content>
