<ion-content [fullscreen]="true" class="tab2-content">
  <div class="header-container">
    <h1 class="title">Add entry</h1>
  </div>

  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-label">Title</label>
        <ion-input
          [(ngModel)]="formData.title"
          name="title"
          placeholder="Enter a title"
        ></ion-input>
      </div>

      <div class="form-group">
        <label class="form-label">Place</label>
        <ion-input
          [(ngModel)]="formData.place"
          name="place"
          placeholder="Enter a place"
        ></ion-input>
      </div>

      <ion-button expand="block" type="submit" color="primary">Save</ion-button>
    </form>
  </div>
</ion-content>
