<ion-content [fullscreen]="true" class="tab1-content">
  <!-- Contenedor del encabezado -->
  <div class="header-container">
    <div class="text-container">
      <h1>
        <span class="greeting">Hi <strong>{{ userName }},</strong></span>
        <br />
        <span class="subtext">today can be a good day</span>
      </h1>
      <div class="underline"></div>
    </div>
    <ion-avatar class="profile-avatar">
      <img [src]="profilePicture" alt="Profile Picture" />
    </ion-avatar>
  </div>

  <!-- Sección de 'Recent Entries' -->
  <div class="recent-entries-header">
    <h2 class="text-recent">Recent entries</h2>
    <ion-select placeholder="Sort by" class="sort-select" (ionChange)="sortEntries($event)">
      <ion-select-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
        {{ sortOption.label }}
      </ion-select-option>
    </ion-select>
  </div>

  <!-- Lista dinámica de entradas -->
  <div class="sectionInformation">
    <ion-list>
      <!-- Recorremos las entradas dinámicamente -->
      <ion-item *ngFor="let entry of entries" class="entry-container">
        <div class="entry-content">
          <div class="entry-images">
            <img *ngFor="let image of entry.imagePaths" [src]="image" alt="Entry Image" />
          </div>
          <div class="entry-details">
            <h3 class="entry-title">{{ entry.title }}</h3>
            <p><strong>Date:</strong> {{ entry.date }}</p>
            <p><strong>Place:</strong> {{ entry.place }}</p>
            <p><strong>Description:</strong> {{ entry.dayDescription }}</p>
            <div class="weather-tags">
              <ion-chip *ngFor="let weather of entry.weather" class="tags-category">
                {{ weather }}
              </ion-chip>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
