<ion-header>
  <ion-toolbar color="primary">
    <ion-title>DearDiary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div class="question-container">
    <h2>How are you feeling today?</h2>
    <ion-icon [name]="currentEmotion.icon" class="emotion-icon"></ion-icon>
    <p class="emotion-label">{{ currentEmotion.label }}</p>
  </div>

  <ion-range
    min="0"
    max="4"
    snaps="true"
    (ionChange)="onEmotionChange($event)"
  >
    <ion-label slot="start">Sad</ion-label>
    <ion-label slot="end">Happy</ion-label>
  </ion-range>

  <ion-button expand="block" shape="round" (click)="onContinue()">Continue</ion-button>
</ion-content>
