<ion-header>
  <ion-toolbar color="primary">
    <ion-title>DearDiary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div class="profile-header">
    <img src="assets/images/profile.jpg" alt="Profile" class="profile-img" />
    <div class="profile-stats">
      <div class="stat">
        <span class="number">30</span>
        <span class="label">Saved Notes</span>
      </div>
      <div class="stat">
        <span class="number">20</span>
        <span class="label">Saved Tasks</span>
      </div>
    </div>
  </div>

  <ion-grid class="emotion-grid">
    <ion-row>
      <ion-col size="4" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-icon name="happy-outline" class="emotion-icon"></ion-icon>
            <ion-card-title>Happy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <span class="emotion-count">8</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-icon name="sad-outline" class="emotion-icon"></ion-icon>
            <ion-card-title>Sad</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <span class="emotion-count">4</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-icon name="dislike-outline" class="emotion-icon"></ion-icon>
            <ion-card-title>Bored</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <span class="emotion-count">3</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Calendario</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <!-- Calendario usando ion-datetime -->
    <ion-datetime
      style="--background: #000; --color: #fff;"  
      presentation="date"
      [value]="selectedDate"
      first-day-of-week="1"
      (ionChange)="onDateSelected($event)"
      locale="en-US"
      show-default-buttons="true"
    >
    </ion-datetime>
  
    <!-- Botón para confirmar la selección -->
    <!-- Contenedor para mostrar el contenido del día -->
  <div *ngIf="selectedDayContent" class="day-content">
    <h2>Contenido para {{ selectedDate | date: 'fullDate' }}</h2>
    <ul>
      <li *ngFor="let item of selectedDayContent">{{ item }}</li>
    </ul>
  </div>

  </ion-content>
  
  
</ion-content>
